*.DS_Store
.Spotlight-V100
.Trashes
[Tt]humbs.db
 
/Temp/
/[Oo]bj/
/UnityGenerated/
/Library/
/[Bb]uild*/
/UserSettings/
/Logs/
 
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.pdb
*.mdb
 
_ReSharper*
/Assets/UnityVS*
/.idea
/.vscode
/Assets/VSCode*

*.pdb*
*.mdb*
pdb2mdb.bat*

boot.config
